<p-toast />
<div class="container">
  <p-fluid class="flex flex-col md:flex-row gap-8">
    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
        <h3>Reporte de Consultas Realizadas a la IA</h3>
        <div class="flex flex-row flex-wrap gap-2 m-2">
          <button pButton
                  label="Reporte Mis Consultas"
                  icon="pi pi-list"
                  class="redbutton"
                  (click)="tipoReporte = 'MISCONSULTAS'; displayFiltros = true; buscado=false;"
                  [style]="{ width: 'auto' }">
          </button>
          <button pButton
                  label="Reporte por Temas"
                  icon="pi pi-list"
                  class="redbutton"
                  (click)="tipoReporte = 'TEMAS'; displayFiltros = true; buscado=false;"
                  [style]="{ width: 'auto' }">
          </button>
          <button pButton
                  label="Reporte por Usuarios"
                  icon="pi pi-database"
                  class="redbutton"
                  (click)="tipoReporte = 'USUARIOS'; displayFiltros = true; buscado=false;"
                  [style]="{ width: 'auto' }">
          </button>
          <button pButton
                  label="Exportar PDF"
                  icon="pi pi-file-pdf"
                  class="redbutton"
                  (click)="exportarPDF()" 
                  [style]="{ width: 'auto' }">
          </button>

        </div>
      </div>
    </div>
  </p-fluid>

</div>


<!--Loader ApuBot-->
<p-dialog
  [(visible)]="isTyping"
  modal="true"
  [closable]="false"
  [dismissableMask]="true"
  [draggable]="false"
  class="dialog-typing"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <div class="dialog-header-centered">
      <i class="pi pi-info-circle icon-alert" style="font-size: 1.2rem;color: #ffffff"></i>
      <span class="title-text" style="font-size: 1.2rem;margin-left: 0.8rem;color: #ffffff;font-weight: bold">{{ loaderMessage }}</span>
    </div>
  </ng-template>

  <div class="dialog-content" *ngIf="!loaderMessageBody" style="display: flex; justify-content: center; padding: 1rem;">
    <object
      data="assets/animations/ApuBotTyping.svg"
      type="image/svg+xml"
      class="typing-animation"
      style="width: 120px; height: 120px;">
    </object>
  </div>

  <div class="dialog-content" *ngIf="loaderMessageBody" style="display: flex; align-items: center; gap: 1rem;">
    <!-- Robot SVG -->
    <object
      data="assets/animations/ApuBotTyping.svg"
      type="image/svg+xml"
      class="typing-animation"
      style="width: 80px; height: 80px; flex-shrink: 0;">
    </object>
  
    <!-- Texto del mensaje -->
    <div style="flex: 1;">
      <div [innerHTML]="loaderMessageBody" style="font-size: 1.04rem"></div>
    </div>
  </div>
  <div class="boton-centrado">
    <button *ngIf="botonLoader"
            pButton
            label="Aceptar"
            class="redbutton"
            style="margin-top: 1rem;"
            (click)="cerrarLoader()">
    </button>
  </div>
</p-dialog>
<!--END LOADER-->

<p-dialog header="Detalle de la Conversación" [(visible)]="displayDialogDetalles" [modal]="true" [style]="{width: '70vw'}" [closable]="true" [contentStyle]="{'max-height': '70vh', 'overflow': 'auto'}" styleClass="custom-dialog">
  <div class="chat-container">
    <div *ngFor="let detalle of detallesConversacion">
      <div class="message user">
        <span class="label">👤 Usuario:</span>
        <p>{{ detalle.sendMessage }}</p>
      </div>
      <div class="message ia">
        <span class="label">🤖 APUBOT:</span>
        <div [innerHTML]="parseMarkdown(detalle.responseMessage)"></div>
      </div>
    </div>
  </div>
</p-dialog>



<!--TABLA DE RESULTADOS-->
<div class="p-fluid box">
  <div class="p-field p-grid">
    <div class="results-table">
      <div id="contenedorPdfMisConsultas" class="contenedor-pdf-export">
        <div class="results-table" *ngIf="tipoReporte === 'MISCONSULTAS' && buscado">
          <p-table [value]="expedientesMisConsultas" showGridlines [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
              <tr>
                <th>MODELO</th>
                <th>CONSULTAS</th>
                <th>FECHA REGISTRO</th>
                <th>PRIMER MENSAJE</th>
                <th>PRIMERA RESPUESTA</th>
                <th>ACCIONES</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.model }}</td>
                <td class="text-right">{{ item.countMessages }}</td>
                <td>{{ item.regDate }}</td>
                <td>{{ item.firstSendMessage }}</td>
                <td>{{ item.firstResponseMessage | slice:0:70 }}{{ item.firstResponseMessage.length > 70 ? '...' : '' }}</td>
                <td>
                  <button pButton type="button" icon="pi pi-eye" label="Detalles"
                          class="p-button-sm p-button-info"
                          (click)="verDetalles(item.sessionUID)">
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        
          <p-paginator
            [rows]="10"
            [totalRecords]="totalRegistros"
            [rowsPerPageOptions]="[5, 10, 20]"
            (onPageChange)="onPaginar($event)">
          </p-paginator>
        </div>
      </div>
      <!-- Tabla -->
      <div id="contenedorPdfTemas" class="contenedor-pdf-export">
        <div class="results-table" *ngIf="tipoReporte === 'TEMAS' && buscado">
          <p-table [value]="expedientesTemas" showGridlines [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
              <tr>
                <th>INSTANCIA</th>
                <th>ESPECIALIDAD</th>
                <th class="text-right">CONSULTAS</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.instancia }}</td>
                <td>{{ item.especialidad }}</td>
                <td class="text-right">{{ item.consultas }}</td>
              </tr>
            </ng-template>
          </p-table>
          <!-- GRAFICOS DE TEMAS -->
          <div class="graphicsThemes" *ngIf="tipoReporte === 'TEMAS' && buscado && graficosPorEspecialidad.length">
            <div *ngFor="let graf of graficosPorEspecialidad" style="margin-top: 3rem;margin-bottom: 3rem;">
              <h4 style="text-align: center;">{{ graf.nombre }}</h4>
              <div style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center;">

                <!-- Gráfico de barras -->
                <div style="flex: 0 0 calc(40% - 16px)">
                  <canvas baseChart
                          [data]="{ labels: graf.labels, datasets: graf.barData }"
                          [options]="barChartOptions"
                          [type]="'bar'">
                  </canvas>
                </div>

                <!-- Gráfico de líneas -->
                <div style="flex: 0 0 calc(40% - 16px)">
                  <canvas baseChart
                          [data]="{ labels: graf.labels, datasets: graf.lineData }"
                          [options]="lineChartOptions"
                          [type]="'line'">
                  </canvas>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contenedorPdfUsuarios" class="contenedor-pdf-export">
        <div class="results-table" *ngIf="tipoReporte === 'USUARIOS' && buscado">
        <p-table [value]="expedientesUsuarios" showGridlines [responsiveLayout]="'scroll'">
          <ng-template pTemplate="header">
            <tr>
              <th>INSTANCIA</th>
              <th>NOMBRES</th>
              <th>APELLIDOS</th>
              <th>CARGO</th>
              <th>USUARIO</th>
              <th>ESPECIALIDAD</th>
              <th class="text-right">CONSULTAS</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{ item.instancia }}</td>
              <td>{{ item.nombres }}</td>
              <td>{{ item.apellidos }}</td>
              <td>{{ item.cargoUsuario }}</td>
              <td>{{ item.username }}</td>
              <td>{{ item.especialidad }}</td>
              <td class="text-right">{{ item.consultas }}</td>
            </tr>
          </ng-template>        
        </p-table>
        <!-- GRAFICOS DE USUARIOS -->
        <div *ngIf="graficosPorEspecialidad.length">
          <div *ngFor="let graf of graficosPorEspecialidad" style="margin-top: 3rem;margin-bottom: 3rem;">
            <h4 style="text-align: center;">{{ graf.nombre }}</h4>
            <div style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center;">

              <!-- Gráfico de barras -->
              <div style="flex: 0 0 calc(40% - 16px)">
                <canvas baseChart
                        [data]="{ labels: graf.labels, datasets: graf.barData }"
                        [options]="barChartOptions"
                        [type]="'bar'">
                </canvas>
              </div>

              <!-- Gráfico de líneas -->
              <div style="flex: 0 0 calc(40% - 16px)">
                <canvas baseChart
                        [data]="{ labels: graf.labels, datasets: graf.lineData }"
                        [options]="lineChartOptions"
                        [type]="'line'">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<!--TABLA DE RESULTADOS-->


<!--FILTROS-->
<!-- LISTAR EXPEDIENTES -->
<p-dialog [(visible)]="displayFiltros"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '45vw' }"
          [modal]="true"
          [contentStyle]="{ 'overflow': 'visible' }">

  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2" style="color: white;">
      <span class="font-bold whitespace-nowrap">FILTROS PARA GENERAR REPORTE</span>
    </div>
  </ng-template>

  <div style="display: flex; flex-wrap: wrap; gap: 16px;">
    <!-- Contenedor individual -->
    <div style="flex: 0 0 calc(50% - 16px); box-sizing: border-box;">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="sede">Sede</label>
        <p-select id="sede" [(ngModel)]="sedeSeleccionada"
                  [options]="sedes"
                  optionLabel="sede"
                  optionValue="codigoSede"
                  placeholder="Seleccione Sede"
                  (onChange)="onSedeChange($event)"
                  [filter]="true" filterBy="sede">
        </p-select>
      </div>
    </div>

    <div style="flex: 0 0 calc(50% - 16px); box-sizing: border-box;" *ngIf="tipoReporte != 'MISCONSULTAS'">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="instancia">Instancia</label>
        <p-select id="instancia" [(ngModel)]="instanciaSeleccionada"
                  [options]="instanciasFiltradas"
                  optionLabel="instancia"
                  optionValue="codigoInstancia"
                  placeholder="Seleccione Instancia"
                  (onChange)="onInstanciaChange($event)"
                  [filter]="true" filterBy="instancia">
        </p-select>
      </div>
    </div>

    <div style="flex: 0 0 calc(50% - 16px); box-sizing: border-box;" *ngIf="tipoReporte != 'MISCONSULTAS'">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="especialidad">Especialidad</label>
        <p-select id="especialidad" [(ngModel)]="especialidadSeleccionada"
                  [options]="especialidadesFiltradas"
                  optionLabel="especialidad"
                  optionValue="codigoEspecialidad"
                  placeholder="Seleccione Especialidad"
                  [filter]="true" filterBy="especialidad">
        </p-select>
      </div>
    </div>
    <div style="flex: 0 0 calc(25% - 16px); box-sizing: border-box;">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="documento">Fecha Inicio</label>
        <p-calendar [(ngModel)]="fechaInicio"
                    dateFormat="dd/mm/yy"
                    showIcon="true"
                    [showButtonBar]="true"
                    inputId="fechaInicio"
                    [style]="{ width: '100%' }">
        </p-calendar>

      </div>
    </div>
    <div style="flex: 0 0 calc(25% - 16px); box-sizing: border-box;">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="documento">Fecha Fin</label>
        <p-calendar [(ngModel)]="fechaFin"
                    dateFormat="dd/mm/yy"
                    showIcon="true"
                    [showButtonBar]="true"
                    inputId="fechaFin"
                    [style]="{ width: '100%' }">
        </p-calendar>
      </div>
    </div>


  </div>
  <ng-template #footer>
    <div style="width: 100%;">
      <hr style="width: 100%; border: none; border-top: 1px solid #ccc; margin-bottom: 1rem;margin-top: 0px!important;">
      <div style="display: flex; justify-content: flex-end;">
        <button pButton
                label="Buscar"
                icon="pi pi-search"
                (click)="onBuscar();"
                class="redbutton"
                [style]="{ width: 'auto' }">
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>
<!--FILTROS-->
