<p-toast />
<div class="container">
  <p-fluid class="flex flex-col md:flex-row gap-8">
    <div class="md:w-1/2">
      <div class="card flex flex-col gap-4">
        <h3>Reporte de Documentos Generados por la IA</h3>
        <div class="m-2">
          <button pButton label="Buscar" icon="pi pi-search" (click)="displayFiltros = true" class="redbutton" [style]="{ width: 'auto' }"></button>
        </div>
        <!-- Alineado a la derecha <div class="flex justify-between items-center m-2">
          <h3 class="m-0">Reporte de Documentos Generados por la IA</h3>
          <p-button
            label="Buscar"
            icon="pi pi-search"
            (onClick)="displayFiltros = true"
            styleClass="p-button-danger"
            [style]="{ width: 'auto' }">
          </p-button>
        </div>-->
      </div>
    </div>
  </p-fluid>

</div>


<!--Loader ApuBot-->
<p-dialog
  [(visible)]="isTyping"
  modal="true"
  [closable]="false"
  [dismissableMask]="true"
  [draggable]="false"
  class="dialog-typing"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <div class="dialog-header-centered">
      <i class="pi pi-info-circle icon-alert" style="font-size: 1.2rem;color: #ffffff"></i>
      <span class="title-text" style="font-size: 1.2rem;margin-left: 0.8rem;color: #ffffff;font-weight: bold">{{ loaderMessage }}</span>
    </div>
  </ng-template>

  <div class="dialog-content">
    <object
      data="assets/animations/ApuBotTyping.svg"
      type="image/svg+xml"
      class="typing-animation">
    </object>
    <div class="boton-centrado">
      <button *ngIf="botonLoader"
              pButton
              label="Aceptar"
              class="redbutton"
              style="margin-top: 1rem;"
              (click)="cerrarLoader()">
      </button>
    </div>
  </div>
</p-dialog>
<!--END LOADER-->

<!--TABLA DE RESULTADOS-->
<div class="p-fluid box">
  <div class="p-field p-grid">
    <div class="results-table">
      <p-table [value]="expedientes" showGridlines [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th>Expediente</th>
            <th>Instancia Actual</th>
            <th>Ubicación</th>
            <th>Estado</th>
            <th>Tipo Expediente</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-expediente>
          <tr>
            <td>{{ expediente.fullNumeroExpediente }}</td>
            <td>{{ expediente.instancia }}</td>
            <td>{{ expediente.descUbicacion }}</td>
            <td>{{ expediente.descEstado }}</td>
            <td>{{ expediente.tipoExpediente }}</td>
            <td>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron expedientes.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!--TABLA DE RESULTADOS-->


<!--FILTROS-->
<!-- LISTAR EXPEDIENTES -->
<p-dialog [(visible)]="displayFiltros"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '45vw' }"
          [modal]="true"
          [contentStyle]="{ 'overflow': 'visible' }">

  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2" style="color: white;">
      <span class="font-bold whitespace-nowrap">LISTAR EXPEDIENTE</span>
    </div>
  </ng-template>

  <div style="display: flex; flex-wrap: wrap; gap: 16px;">
    <!-- Contenedor individual -->
    <div style="flex: 0 0 calc(50% - 16px); box-sizing: border-box;">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="sede">Sede</label>
        <p-select id="sede" [(ngModel)]="sedeSeleccionada"
                  [options]="sedes"
                  optionLabel="sede"
                  optionValue="codigoSede"
                  placeholder="Seleccione Sede"
                  (onChange)="onSedeChange($event)"
                  [filter]="true" filterBy="sede">
        </p-select>
      </div>
    </div>

    <div style="flex: 0 0 calc(50% - 16px); box-sizing: border-box;">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="instancia">Instancia</label>
        <p-select id="instancia" [(ngModel)]="instanciaSeleccionada"
                  [options]="instanciasFiltradas"
                  optionLabel="instancia"
                  optionValue="codigoInstancia"
                  placeholder="Seleccione Instancia"
                  (onChange)="onInstanciaChange($event)"
                  [filter]="true" filterBy="instancia">
        </p-select>
      </div>
    </div>

    <div style="flex: 0 0 calc(33.333% - 16px); box-sizing: border-box;">
      <div style="display: flex; flex-direction: column; gap: 4px;">
        <label for="especialidad">Especialidad</label>
        <p-select id="especialidad" [(ngModel)]="especialidadSeleccionada"
                  [options]="especialidadesFiltradas"
                  optionLabel="especialidad"
                  optionValue="codigoEspecialidad"
                  placeholder="Seleccione Especialidad"
                  [filter]="true" filterBy="especialidad">
        </p-select>
      </div>
    </div>


  </div>
  <ng-template #footer>
    <div style="width: 100%;">
      <hr style="width: 100%; border: none; border-top: 1px solid #ccc; margin-bottom: 1rem;margin-top: 0px!important;">
      <div style="display: flex; justify-content: flex-end;">
        <button pButton
                label="Buscar"
                icon="pi pi-search"
                (click)="buscarReporteDocGenerados; displayFiltros = false;"
                class="redbutton"
                [style]="{ width: 'auto' }">
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>
<!--FILTROS-->
